<% content_for :title, 'Editing User' %>
<% content_for :header do %><h1>Editing User</h1><% end %>
<% content_for :toolbar do %>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Show', @user %></li>
<% end %>

<%= render 'form' %>
