<p>
  <strong>Name:</strong>
  <%= @visualization.name %>
</p>

<%= link_to 'Edit', edit_visualization_path(@visualization) %> |
<%= link_to 'Back', visualizations_path %>

<div>
    <span class="chartwell radar" style="font-size: 400px">
        <span style="color: #ead8d2">e</span>
        <span style="color: #7c14bd">51</span>
        <span style="color: #7d5dac">42</span>
        <span style="color: #8658b6">93</span>
        <span style="color: #f476e1">49</span>
        <span style="color: #b15d67">86</span>
        <span style="color: #d28e91">25</span>
        <span style="color: #f1b47e">90</span>
        <span style="color: #c36e13">35</span>
    </span>
    <span class="chartwell radar" style="font-size: 400px">
        <span style="color: #ead8d2">dx</span>
        <span style="color: #7c14bd">51</span>
        <span style="color: #7d5dac">42</span>
        <span style="color: #8658b6">93</span>
        <span style="color: #f476e1">49</span>
        <span style="color: #b15d67">86</span>
        <span style="color: #d28e91">25</span>
        <span style="color: #f1b47e">90</span>
        <span style="color: #c36e13">35</span>
    </span>
    <span class="chartwell radar" style="font-size: 400px">
        <span style="color: #000">f</span>
        <span style="color: #7c14bd">51</span>
        <span style="color: #7d5dac">42</span>
        <span style="color: #8658b6">93</span>
        <span style="color: #f476e1">49</span>
        <span style="color: #b15d67">86</span>
        <span style="color: #d28e91">25</span>
        <span style="color: #f1b47e">90</span>
        <span style="color: #c36e13">35</span>
    </span>
</div>

<form class="form-horizontal">
    <textarea class="form-control parser"></textarea>
</from>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="formatting table hidden">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
