<!--
<div>
    <span class="chartwell radar" style="font-size: 400px">
        <span style="color: #ead8d2">e</span>
        <span style="color: #7c14bd">51</span>
        <span style="color: #7d5dac">42</span>
        <span style="color: #8658b6">93</span>
        <span style="color: #f476e1">49</span>
        <span style="color: #b15d67">86</span>
        <span style="color: #d28e91">25</span>
        <span style="color: #f1b47e">90</span>
        <span style="color: #c36e13">35</span>
    </span>
    <span class="chartwell radar" style="font-size: 400px">
        <span style="color: #ead8d2">dx</span>
        <span style="color: #7c14bd">51</span>
        <span style="color: #7d5dac">42</span>
        <span style="color: #8658b6">93</span>
        <span style="color: #f476e1">49</span>
        <span style="color: #b15d67">86</span>
        <span style="color: #d28e91">25</span>
        <span style="color: #f1b47e">90</span>
        <span style="color: #c36e13">35</span>
    </span>
    <span class="chartwell radar" style="font-size: 400px">
        <span style="color: #000">f</span>
        <span style="color: #7c14bd">51</span>
        <span style="color: #7d5dac">42</span>
        <span style="color: #8658b6">93</span>
        <span style="color: #f476e1">49</span>
        <span style="color: #b15d67">86</span>
        <span style="color: #d28e91">25</span>
        <span style="color: #f1b47e">90</span>
        <span style="color: #c36e13">35</span>
    </span>
</div>
-->

<div class="row">
    <div class="col-md-2">
        To try the data detection, copy-paste this in the field below
    </div>
    <pre class="col-md-10">Movie,Genre,Production Budget,Total Domestic Box Office,Rating IMDB
Avatar,Action,425000000,760507625, 8.0
The Blind Side,Drama,35000000,255959475, 7.6
"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe",Adventure,180000000,291710957, 6.9
The Dark Knight,Action,185000000,533345358, 9.0
ET: The Extra-Terrestrial,Drama,10500000,435110554, 7.9
Finding Nemo,Adventure,94000000,380529370, 8.1
Ghostbusters,Comedy,30000000,238632124, 7.8
The Hunger Games,Thriller/Suspense,80000000,408010692, 7.2
Iron Man 3,Action,200000000,396702239, 7.6
Jurassic Park,Action,63000000,395708305, 8.0
King Kong,Adventure,207000000,218080025, 7.3
The Lion King,Adventure,79300000,422780140, 8.4
"Monsters, Inc.",Adventure,115000000,289423425, 8.0
The Twilight Saga: New Moon,Drama,50000000,296623634, 4.5
Oz the Great and Powerful,Adventure,200000000,233671832, 6.6
Pirates of the Caribbean: Dead Man's Chest,Adventure,225000000,423315812, 7.3
Quantum of Solace,Action,230000000,169368427, 6.7
Raiders of the Lost Ark,Adventure,20000000,248159971, 8.7
Star Wars Ep. I: The Phantom Menace,Adventure,115000000,474544677, 6.5
Titanic,Thriller/Suspense,200000000,658672302, 7.6
Up,Adventure,175000000,293004164, 8.3
The Vow,Drama,30000000,125014030, 6.7
The War of the Worlds,Action,132000000,234280354, 6.5
X-Men: The Last Stand,Action,210000000,234362462, 6.8
You've Got Mail,Drama,65000000,115821495, 6.3
Zookeeper,Romantic Comedy,80000000,80360866, 5.0</pre>
</div>

<form class="form-horizontal">
    <textarea class="form-control parser"></textarea>
</from>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="formatting table hidden">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
