<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"></div>
                <div class="logo-element"><i class="fa fa-pie-chart"></i></div>
            </li>
            <%#= render_navigation renderer: Navigation::Navbar %>
        </ul>
    </div>
</nav>
