<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control" name="search" id="top-search" value="<%= params[:search] %>" />
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <%#= yield :toolbar %>
        </ul>
    </nav>
</div>
